html {
  --color-background-primary: #111;
  --color-text-primary: #ffffff;

  --color-text-yandex-red: #FF0000;
  --color-text-yandex-yellow: #FFCC00;
  --color-text-yandex-black: #000000;

  --color-border: #333333;
}

a {
  text-decoration: none;
  color: var(--color-text-yandex-yellow);
}

.yandex-red {
  color: var(--color-text-yandex-red);
}

.yandex-yellow {
  color: var(--color-text-yandex-yellow);
}

/* Switch */
.switch {
  display: inline-block;
  height: 17px;
  position: relative;
  width: 30px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 13px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 13px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(10px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------- */


body {
  width: 300px;
  height: 300px;
  background: var(--color-background-primary);
  color: var(--color-text-primary);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 300px;
  width: 300px;
}

/* Header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__title {
  font-size: 25px;
  font-weight: bold;
  margin-right: 15px;
}

.header__settings {
  align-self: center;
  width: 25px;
  height: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  border: none;
  padding: 0;
  background: none;

  color: #999;

  transform: rotate(-45deg);
  transition-duration: 0.6s;

  z-index: 10;
}

.header__settings:hover {
  transform: rotate(45deg);
  transition-duration: 0.6s;
  cursor: pointer;
  color: #dcdcdc
}

/* ------- */

/* Main */

.main {
  padding: 10px;
}

.author {
  font-size: 14px;
  text-align: center;
  padding: 0 0 25px 0;
  color: #ffa200;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.buttons__row {
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: center;
}

.buttons__button {
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
  background: var(--color-border);
  min-width: 60px;
}

.buttons__button--red {
  background: var(--color-text-yandex-red);
}

/* Footer */

.footer {
  position: absolute;
  background: red;
  bottom: 0;
  right: 0;
  width: 100%;
}

.footer__version {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 2;
  border-top: 2px solid var(--color-border);
  border-left: 2px solid var(--color-border);
  border-top-left-radius: 5px;
}


/* Settings */

.settings {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 2px solid var(--color-border);
  border-radius: 15px;
  backdrop-filter: blur(10px); 

  padding: 2px;

  opacity: 0;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transition: all 0.8s;
}

.settings__opened {
  visibility: visible;
  opacity: 1;
  transform: scale(0.9);
  transition: all 0.8s;
}

/* Button */

.settings-btn__open {
  display: block;
}

.settings-btn__close {
  display: none;
  transform: rotate(45deg);
}

.settings-btn__opened .settings-btn__open {
  display: none;
}

.settings-btn__opened .settings-btn__close {
  display: block;
}

/* ------- */

.settings__title {
  position: absolute;
  top: -8px;
  left: 10px;

  font-size: 14px;
}

.settings__fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px 10px;
  align-items: center;
}

.settings-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 10px;

  border: 2px solid var(--color-border);
  border-radius: 15px;
  width: 100%;
}

.settings-group__title {
  position: absolute;
  top: -8px;
  left: 10px;

  font-size: 14px;
  opacity: 0.8;
}

.settings-group__field {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.settings-reset {
  border: 2px solid #FF0000;
  border-radius: 10px;
  max-width: 100px;
  padding: 5px 10px;
}

.setting-field__text {
  font-size: 15px;
}

.setting-field__beta {
  color: var(--color-text-yandex-yellow);
  border: 2px solid var(--color-text-yandex-yellow);
  padding: 1px 5px;
  border-radius: 5px;
  user-select: none;
}